<div class="container kitchen__container">
  <div class="kitchen__logo-article">
    <p class="kitchen-logo__up-text">Amet minim mollit non</p>
    <h3 class="kitchen__logo">Mimino</h3>
    <p class="kitchen-logo__down-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="kitchen__photo-container">
    <picture>
      <source
        srcset="
          ./img/desktop/restaurant-kitchen/kitchenx1.webp 1x,
          ./img/desktop/restaurant-kitchen/kitchenx2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        src="./img/desktop/restaurant-kitchen/kitchenx1.webp"
      />
      <source
        srcset="
          ./img/desktop/restaurant-kitchen/kitchenx1.jpg 1x,
          ./img/desktop/restaurant-kitchen/kitchenx2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        src="./img/desktop/restaurant-kitchen/kitchenx1.jpg"
      />
      <img src="./img/desktop/restaurant-kitchen/kitchenx1.jpg" alt="Kitchen" />
    </picture>
    <picture>
      <source
        srcset="
          ./img/tablet/restaurant-kitchen/kitchenx1.webp 1x,
          ./img/tablet/restaurant-kitchen/kitchenx2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
        src="./img/tablet/restaurant-kitchen/kitchenx1.webp"
      />
      <source
        srcset="
          ./img/tablet/restaurant-kitchen/kitchenx1.jpg 1x,
          ./img/tablet/restaurant-kitchen/kitchenx2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        src="./img/tablet/restaurant-kitchen/kitchenx1.jpg"
      />
      <img src="./img/tablet/restaurant-kitchen/kitchenx1.jpg" alt="Kitchen" />
    </picture>
    <picture>
      <source
        srcset="
          ./img/mobile/restaurant-kitchen/kitchenx1.webp 1x,
          ./img/mobile/restaurant-kitchen/kitchenx2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
        src="./img/mobile/restaurant-kitchen/kitchenx1.webp"
      />
      <source
        srcset="
          ./img/mobile/restaurant-kitchen/kitchenx1.jpg 1x,
          ./img/mobile/restaurant-kitchen/kitchenx2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        src="./img/mobile/restaurant-kitchen/kitchenx1.jpg"
      />
      <img src="./img/mobile/restaurant-kitchen/kitchenx1.jpg" alt="Kitchen" />
    </picture>
  </div>
  <div class="kitchen__down-container">
    <picture>
      <source
        srcset="
          ./img/desktop/restaurant-kitchen/meatx1.webp 1x,
          ./img/desktop/restaurant-kitchen/meatx2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        src="./img/desktop/restaurant-kitchen/meatx1.webp"
      />
      <source
        srcset="
          ./img/desktop/restaurant-kitchen/meatx1.jpg 1x,
          ./img/desktop/restaurant-kitchen/meatx2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        src="./img/desktop/restaurant-kitchen/meatx1.jpg"
      />
      <img src="./img/desktop/restaurant-kitchen/meatx1.jpg" alt="Meat" />
    </picture>
    <picture>
      <source
        srcset="
          ./img/tablet/restaurant-kitchen/meatx1.webp 1x,
          ./img/tablet/restaurant-kitchen/meatx2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
        src="./img/tablet/restaurant-kitchen/meatx1.webp"
      />
      <source
        srcset="
          ./img/tablet/restaurant-kitchen/meatx1.jpg 1x,
          ./img/tablet/restaurant-kitchen/meatx2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        src="./img/tablet/restaurant-kitchen/meatx1.jpg"
      />
      <img src="./img/tablet/restaurant-kitchen/meatx1.jpg" alt="meat" />
    </picture>
    <picture>
      <source
        srcset="
          ./img/mobile/restaurant-kitchen/meatx1.webp 1x,
          ./img/mobile/restaurant-kitchen/meatx2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
        src="./img/mobile/restaurant-kitchen/meatx1.webp"
      />
      <source
        srcset="
          ./img/mobile/restaurant-kitchen/meatx1.jpg 1x,
          ./img/mobile/restaurant-kitchen/meatx2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        src="./img/mobile/restaurant-kitchen/meatx1.jpg"
      />
      <img src="./img/mobile/restaurant-kitchen/meatx1.jpg" alt="Meat" />
    </picture>

    <p class="kitchen__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="kitchen__gallery-container">
    <picture>
      <source
        srcset="
          ./img/desktop/restaurant-kitchen/gallery-element1x1.webp 1x,
          ./img/desktop/restaurant-kitchen/gallery-element1x2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        src="./img/desktop/restaurant-kitchen/gallery-element1x1.webp"
      />
      <source
        srcset="
          ./img/desktop/restaurant-kitchen/gallery-element1x1.jpg 1x,
          ./img/desktop/restaurant-kitchen/gallery-element1x2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        src="./img/desktop/restaurant-kitchen/gallery-element1x1.jpg"
      />
      <img
        src="./img/desktop/restaurant-kitchen/gallery-element1x1.jpg"
        alt="Flower"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/tablet/restaurant-kitchen/gallery-element1x1.webp 1x,
          ./img/tablet/restaurant-kitchen/gallery-element1x2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
        src="./img/tablet/restaurant-kitchen/gallery-element1x1.webp"
      />
      <source
        srcset="
          ./img/tablet/restaurant-kitchen/gallery-element1x1.jpg 1x,
          ./img/tablet/restaurant-kitchen/gallery-element1x2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        src="./img/tablet/restaurant-kitchen/gallery-element1x1.jpg"
      />
      <img
        src="./img/tablet/restaurant-kitchen/gallery-element1x1.jpg"
        alt="Flower"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/mobile/restaurant-kitchen/gallery-element1x1.webp 1x,
          ./img/mobile/restaurant-kitchen/gallery-element1x2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
        src="./img/mobile/restaurant-kitchen/gallery-element1x1.webp"
      />
      <source
        srcset="
          ./img/mobile/restaurant-kitchen/gallery-element1x1.jpg 1x,
          ./img/mobile/restaurant-kitchen/gallery-element1x2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        src="./img/mobile/restaurant-kitchen/gallery-element1x1.jpg"
      />
      <img
        src="./img/mobile/restaurant-kitchen/gallery-element1x1.jpg"
        alt="Flower"
      />
    </picture>
  </div>
  <div class="kitchen__gallery-container">
    <picture>
      <source
        srcset="
          ./img/desktop/restaurant-kitchen/gallery-element2x1.webp 1x,
          ./img/desktop/restaurant-kitchen/gallery-element2x2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        src="./img/desktop/restaurant-kitchen/gallery-element2x1.webp"
      />
      <source
        srcset="
          ./img/desktop/restaurant-kitchen/gallery-element2x1.jpg 1x,
          ./img/desktop/restaurant-kitchen/gallery-element2x2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        src="./img/desktop/restaurant-kitchen/gallery-element2x1.jpg"
      />
      <img
        src="./img/desktop/restaurant-kitchen/gallery-element2x1.jpg"
        alt="Hinkali"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/tablet/restaurant-kitchen/gallery-element2x1.webp 1x,
          ./img/tablet/restaurant-kitchen/gallery-element2x2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
        src="./img/tablet/restaurant-kitchen/gallery-element2x1.webp"
      />
      <source
        srcset="
          ./img/tablet/restaurant-kitchen/gallery-element2x1.jpg 1x,
          ./img/tablet/restaurant-kitchen/gallery-element2x2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        src="./img/tablet/restaurant-kitchen/gallery-element2x1.jpg"
      />
      <img
        src="./img/tablet/restaurant-kitchen/gallery-element2x1.jpg"
        alt="Hinkali"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/mobile/restaurant-kitchen/gallery-element2x1.webp 1x,
          ./img/mobile/restaurant-kitchen/gallery-element2x2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
        src="./img/mobile/restaurant-kitchen/gallery-element2x1.webp"
      />
      <source
        srcset="
          ./img/mobile/restaurant-kitchen/gallery-element2x1.jpg 1x,
          ./img/mobile/restaurant-kitchen/gallery-element2x2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        src="./img/mobile/restaurant-kitchen/gallery-element2x1.jpg"
      />
      <img
        src="./img/mobile/restaurant-kitchen/gallery-element2x1.jpg"
        alt="Hinkali"
      />
    </picture>
  </div>
  <div class="kitchen__sgv">
    <button>
      <svg width="32px" height="32px" class="kitchen__svg-icon">
        <use href="./img/sprite.svg#icon-left-arrow-small"></use>
      </svg>
    </button>
    <button>
      <svg width="32px" height="32px" class="kitchen__svg-icon">
        <use href="./img/sprite.svg#icon-right-arrow-small"></use>
      </svg>
    </button>
  </div>
</div>
